[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx-rtd-theme = "*"
sphinxcontrib-httpdomain = "*"
sphinx-git = "*"
sphinxcontrib-domaintools = {git = "https://github.com/tylerbutler/sphinxcontrib-domaintools-update.git",ref = "dev"}
"path.py" = "*"
Sphinx = "*"

[requires]
python_version = "3.7"
