path.py
Sphinx~=1.7.9
sphinx-rtd-theme>=0.4.1
sphinxcontrib-httpdomain~=1.6.0
sphinx-git~=10.1.1

# Install custom fork of sphinxcontrib-domaintools
git+https://github.com/tylerbutler/sphinxcontrib-domaintools-update.git@dev#egg=sphinxcontrib-domaintools
