path.py
Sphinx~=1.7.4
sphinx-rtd-theme>=0.3.1
sphinxcontrib-spelling~=4.1.0
sphinx-git~=10.0.0

# pyenchant is required by sphinxcontrib-spelling, but is not auto-installed with that package for some reason
pyenchant~=2.0.0

# Install custom fork of sphinxcontrib-domaintools
git+https://github.com/tylerbutler/sphinxcontrib-domaintools-update.git@dev#egg=sphinxcontrib-domaintools
