a {
    color: #028158;
}

a:hover {
    color: #039665;
}

.wy-nav-top,
.wy-side-nav-search {
    background-color: #028158;
}

.wy-nav-top>a:hover,
.wy-side-nav-search>a:hover,
.wy-side-nav-search .wy-dropdown>a:hover{
    color: #fcfcfc;
}

.wy-menu-vertical a {
    color: #b3bEb3;
}
